
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<!-- Bootstrap -->
    <link href="/stylesheets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="stylesheets/bootstrap/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="javascripts/jquery-1.9.1.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/instant_search.js"></script>
    <script type='text/javascript' src="javascripts/google_chart.js"></script>

  </head>

  <body>

<form method="post" action="/homepage" name="homepage"></form>
<form method="post" action="/profilepage" name="profile"></form>
<form method="post" action="/discoverpage" name="discover"></form>
<form method="post" action="/chatpage" name="chatpage"></form>
<form method="post" action="/logout" name="logout"></form>

</form>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" onclick="homepage.submit()">Twittim</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li><a onclick="profile.submit()">Profile</a></li>
              <li><a onclick="discover.submit()">Discover</a></li>
              <li><a onclick="chatpage.submit()">Broadcast</a></li>
			  <li><a onclick="logout.submit()">Logout</a></li>
              <form class="navbar-form pull-right" method="post" action="/search">
                <input placeholder="Search For A User/Topic" class="span4" type="text" id="search_keyword" name="keyword">
                <button class="btn">Search</button>
              </form>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <h1><%= title %></h1>

<div class="row">
  <div class="span4">
    <div class="well sidebar-nav">
    <h3>Trending Topics</h3>
    <ul class="nav nav-list topic-list">
      <% for(var topicid in trendingTopics) { %>
        <li><a href=<%="/topicview/" + trendingTopics[topicid]%>><%='#' + trendingTopics[topicid]%></a></li>
      <% } %>
    </ul>

    <h3>Who To Follow</h3>
    <ul class="nav nav-list topic-list">
      <% for(var i in whoToFollow) { %>
        <li><a href=<%="/userview/" + whoToFollow[i]%>><%='@' + whoToFollow[i]%></a></li>
      <% } %>
    </ul>
  </div>
</div>
<div class="span8">
<div class="well sidebar-nav">
    <h3>You have followers in these locations:</h3><br>
    <div id="chart_div" style="width: 100%; height: 120%;"></div>
  </div>
</div>
</div>
  </body>
</html>