
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
<form method="post" action="/homepage" name="homepage"></form>
<form method="post" action="/profilepage" name="profile"></form>
<form method="post" action="/discoverpage" name="discover"></form>
<form method="post" action="/chatpage" name="chatpage"></form>
<form method="post" action="/logout" name="logout"></form>

</form>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" onclick="homepage.submit()">Twittim</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
			  <li><a onclick="profile.submit()">Profile</a></li>
              <li><a onclick="discover.submit()">Discover</a></li>
              <li><a onclick="chatpage.submit()">Broadcast</a></li>
			  <li><a onclick="logout.submit()">Logout</a></li>
              <form class="navbar-form pull-right" method="post" action="/search">
                <input placeholder="Search For A User/Topic" class="span4" type="text" id="search_keyword" name="keyword">
                <button class="btn">Search</button>
              </form>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="row">
        <div class="well sidebar-nav">
    <%if (birthdayUser != undefined) {%>  
  	 <h1>Today is <%= birthdayUser.name %>'s birthday!<br></h1><h3>Say Happy Birthday To <%= birthdayUser.name %>:</h3>
	     <form method="post" action="/birthday/twitt">
  		  <input type="text" name="twitt" value=<%= "#HappyBirthdayTo_" + birthdayUser.username.toLowerCase() %> size="100"/> <br/>
  		  <button class="btn btn-primary">Compose</button>
	     </form>
    <%}
    else {%> <%= title %> <%}%>
  </div>
</div>

    <script src="stylesheets/bootstrap/js/bootstrap.js"></script>

    <script src="stylesheets/bootstrap/js/bootstrap-responsive.js"></script>
  </body>
</html>